body {
  color: #404266;
  font-family: 'Baloo 2', Montserrat, sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;  scroll-behavior: smooth;
  font-weight: 800;
  font-size: 3rem;
  color: #353535;
}

p {
  font-size: 1.2rem;
  /* opacity: .7; */
}

a {
  color: #353535;
}
a, a:visited, a:hover, a:active {
  text-decoration: none;
  outline: none;
  /* box-shadow: none; */
}
a:hover {
  /* text-decoration: underline; */
  color: #353535;
}

.navbar {
  padding: 0.1rem;
}

.navbar-toggler-icon {
  font-size: 0.8em;
}

@media (max-width: 767px) {
  .navbar-toggler {
    border: none;
    outline: none;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.spacing-top {
  padding-top: 2%;
}

.trial {
  font-size: 0.8em;
  margin-top: 0.4rem;
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #ba6cf5;
}

.divider {
  background-color: #353535;
  height: 0.5px;
  display: block;
  margin-bottom: 1em;
}
.img-heading {
  height: 3em;
  background-color: #fff;
  display: block;
  opacity: 0.98;
  margin-bottom: 2em;
}
.BigButton {
  transition: transform .2s; /* Animation */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.BigButton:hover {
  transform: scale(1.07); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.font-grey {
  color: #404266;
}
.font-bold {
  font-weight: bold;
}
.font-stat {
  font-size: 40px;
  font-weight: 800;
}
ul {
  font-weight: 300;
  list-style: none;
  padding-left: 0px;
  padding-right: 20px;
}
li {
  padding-bottom: .6em;
  font-size: 0.8rem;
}
